<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AncileBaseURL</key>
	<string>https://studies.ancile.cornelltech.io</string>
	<key>AncileStudyID</key>
	<string>phonespec</string>
	<key>AncileMobileURLScheme</key>
	<string>ancile3ec3082ca348453caa716cc0ec41791e</string>
</dict>
</plist>
